@import "../themes/app.variables.styl"
@import "../themes/css_tips.pcss"
@import "../../node_modules/jeet"

hGrey= #bcd7e7

// NOTE:   component styles                 -
.paraCompA
   height: 60vh
   //min-height: 310vh
   background-position-y: -15vh
   background-image: url(http://static.hasselblad.com/2017/03/H61C-B00007042.jpg)

// -----------demo style
.parallax h1
   font-size 40px
   color: #AB0
h3,h1,p
   text-align: center
.parallax p
   color: white
   width: 80%
   margin-left: auto
   margin-right: auto
main
   background: #333
   color: white
   padding: 50px

// -----------------------
// NOTE:  start           :
// -----------------------


