


flag
   z-index 100000
   position: fixed
   left: 0px
   line-height: 8px

flag:before
   display:block
   width: 100px
   content: ''
   border: solid 1px red

flag span
   font-size: 10px
   background-color: #2c0
   color: white


.parallax
   background-repeat: no-repeat
   background-attachment: fixed
   background-size: cover
   padding-top 30vh


.debug
   border solid 1px #f00
   //height: 800px

